{% extends 'base.html' %}

{% block title %}تأكيد حذف المنتج{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 160px);">
    <div class="card p-4 shadow-lg text-center" style="width: 100%; max-width: 450px;">
        <div class="card-body">
            <h2 class="card-title mb-4 fs-2 fw-bold text-danger">تأكيد حذف المنتج</h2>
            <p class="mb-4">هل أنت متأكد أنك تريد حذف المنتج: <span class="fw-bold text-danger">{{ product.name }}</span>؟</p>
            <form action="{% url 'product_delete' product.id %}" method="post"> {# تم تحديث action #}
                {% csrf_token %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="submit" class="btn btn-danger me-md-2">
                        <i class="fas fa-trash-alt me-1"></i> نعم، احذف
                    </button>
                    <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">
                        <i class="fas fa-times me-1"></i> إلغاء
            
                    </a>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
